doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Invite
  body
    p You have been invited.
    p
      a(href=inviteLink) Accept invite
    p If the button doesn’t work, copy/paste:
    p= inviteLink